/* - - - - - - - - - - 
F o n t s
- - - - - - - - - - */
@import url('fonts.css');
/* - - - - - - - - - - 
R e s e t
- - - - - - - - - - */
@import url('reset.css');
/* - - - - - - - - - - 
V a r i a b l e s
- - - - - - - - - - */
:root {
    --font-heading: 'Aclonica', sans-serif;
    --font-body: 'Marcellus', sans-serif;
    --color1: #e39f44;
    --color2: #ebdf67;
    --color3: #d2851b;
    --color4: #200134;
}
/* - - - - - - - - - - 
G e n e r a l
- - - - - - - - - - */
body {
    background-color: var(--color3);
    color: var(--color2);
    main {
        header {
            background-color: var(--color4);
            position: fixed;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            padding-inline: 3rem;
            height: 100px;
            width: 100%;
            img {
                transition: transform 0.4s ease-in;
            }
        }
        nav {
            display: flex;
            gap: 4rem;
            a:is(:link, :visited){
                color: white;
                font-family: var(--font-heading);
                text-decoration: none;
                font-size: 24px;
                display: flex;
                align-items: center;
                transition: transform 0.2s ease-in;
                flex-direction: column;
                }
                a:is(:hover) {
                    transform: scale(1.1);
                }
                a:is(:hover)img {
                    transform: translateY(5px);
                }
            }
            /* owl nav */
            div.owl-nav {
                display: flex;
                justify-content: space-between;
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                button {
                    span {
                        display: flex;
                        height: 100px;
                        width: 100px;
                        text-indent: -9999px;
                    }
                }
                button.owl-prev {
                    &:hover{
                        transform: translateX(-5px);
                        transition: transform 0.2s ease-in;
                        background: transparent !important;
                    }
                    span {
                        background: url(../img/btn-prev.svg) no-repeat center;
                    }
                }

                button.owl-next {
                    &:hover{
                        transform: translateX(5px);
                        transition: transform 0.2s ease-in;
                        background: transparent !important;
                    }
                    span {
                        background: url(../img/btn-next.svg) no-repeat center;
                    }
                }
            }
            /* Section: Slider */
            section.slider1 {
                padding-top: 80px;
                height: 804px;
                img {
                    height: 804px;

                    object-fit: cover;
                }
               
                img {
                    width: 100%;
                }
                div.owl-dots {
                    margin-top: -32px;
                    position: relative;
                    button.owl-dot{
                        span {
                            background-color: var(--color2);
                            height: 14px;
                            transition: all 0.4s ease-in;
                            width: 14px;
                        }
                    }
                    button.owl-dot.active {
                        span {
                            background-color: var(--color4);
                     }
                 }
                 button.owl-dot:hover {
                    span {
                        transform: scale(1.2);
                        background-color: var(--color2);
                    }
                 }
             }
        }
        /* Section: Characters */
        section.characters {
            background-color: var(--color4);
            height: 673px;
            
            h2 {
                display: flex;
                margin-left: 3rem;
                padding-top: 9rem;
                flex-direction: column;
                font-family: var(--font-heading);
                font-size: 40px;
                color: white;
            }
            div.slider2 {
                margin-inline: auto;
                margin-block: 2rem;
                width: 90%;
                article {
                    background-color: var(--color1);
                    height: 400px;
                    figure {
                        img {
                            height: 300px;
                            object-fit: contain;
                        }
                    }
                    figcaption {
                        background-color: var(--color3);
                        color: white;
                        font-family: var(--font-heading);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 32px;
                        height: 100px;
                    }
                }
            }
        }
    }
}